html, body {
    height: 100%;
    margin: 0;
}

core-toolbar {
    background: #000000;
    color: #fafafa;
}

/* content of the left panel */
core-header-panel {
    background: #616161;
    color: #fafafa;
}

core-scaffold::shadow core-toolbar {
    background: #03a9f4;
    color: white;
}

/* content of the right panel */
core-scaffold::shadow core-header-panel {
    background: #F4F4F4;
    color: #212121;
}

/*selected menu item*/
.core-selected {
    color: #03a9f4;
}

.caps {
    text-transform: uppercase;
}

.title {
    float: left;
    height: 100%;
    vertical-align: text-bottom;
}

#search {
    float: right;
}

#notLoggedInMenu {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

#notLoggedInMenu a {
    text-decoration: none;
    color: white;
}

#notLoggedInMenu a span {
    text-align: center;
    display: block;
    position: relative;
    top: 40%;
}

hr {
    border-top: 1px solid #12202b;
}

/*Bage A 1.0*/
.head {
    margin: 0 auto 30px;
    text-align: center;
}

.center {
    margin: 0 auto 30px;
}

.text-center {
    text-align: center;
}

.lead {
    width: 50%;
}

.bage {
    font-size: 58px;
    width: 144px;
    height: 144px;
    line-height: 140px;
    display: block;
    font-weight: 500;
    color: inherit;
    cursor: default;
    border-radius: 15%;
    border: 2px solid #12202b;
    background-color: transparent;
    margin-top: 50px;
}

#joinUs-a {
    color: inherit
}

.accept-pol::shadow #ripple {
    color: #03a9f4
}

paper-input, paper-input-decorator {
    width: 100%;
}

form[name='login'], form[name='registration'] {
    width: 50%;
    position: relative;
    top: 20px;
}

.login-register-pol {
    margin: 20px 0
}

.fullWidth {
    width: 100%
}

.Width40 {
    width: 40%;
}

.errorMessage {
    margin: -1% 0 0 0;
    text-align: left;
    color: #d34336;
    font-size: 0.85em;
    overflow: hidden;
}

.errorMessage span {
    float: left;
    position: relative;
    top: 2px;
}

.errorMessage svg {
    pointer-events: none;
    display: inline-block;
    float: right;
    height: 20px;
    width: 20px;
    fill: #d34336;
}

/*media queries */

@media screen and (max-width: 1000px) {
    form[name='login'], form[name='registration'], .lead {
        width: 90%;
    }
}

/*paper-toast positioning*/
paper-toast {
    bottom: 40px;
    right: 30px;
    left: auto;
    background-color: #d34336;
}