<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="bage head">A1.0</span>

            <p class="lead head">Auction 1.0 is a better way to create and host your trades on one of the most popular
                platform</p>

            <p class="head">
                <a href="#login" id="joinUs-a">
                    <paper-button raised class="accept-pol Width40 login-register-pol">Join Us
                    </paper-button>
                </a>
            </p>
        </div>
    </div>
</div>

