<div class="container">
    <form name="login" class="head">
        <core-field>
            <paper-input-decorator floatinglabel label="Login">
                <input type="text" name="login" data-bind="value: login"/>
            </paper-input-decorator>
        </core-field>
        <core-field>
            <paper-input-decorator floatinglabel label="Password">
                <input type="password"  name="password" data-bind="value: password"/>
            </paper-input-decorator>
        </core-field>
        <paper-button raised class="accept-pol fullWidth login-register-pol">Log In</paper-button>
        <div> or <a href="#registration">Create account</a></div>
    </form>
</div>