<div class="container">
    <form name="login" class="head">
        <core-field>
            <paper-input floatinglabel label="Login" type="text" error="input is required!"></paper-input>
        </core-field>
        <core-field>
            <paper-input-decorator floatinglabel label="Password" name="password">
                <input type="password"/>
            </paper-input-decorator>
        </core-field>
        <paper-button raised class="accept-pol fullWidth login-register-pol">Log In</paper-button>
        <div> or <a href="#registration">Create account</a></div>
    </form>
</div>