<core-scaffold>
    <core-header-panel navigation flex>
        <core-toolbar>
            <span data-bind="text: appTitle"></span>
        </core-toolbar>
        <core-menu data-bind="foreach: router.navigationModel, attr: {selected: router.selectedTab}">
            <core-item data-bind="attr: { label: title, icon:icon}">
                <a data-bind="attr: { href: hash }"></a>
            </core-item>
        </core-menu>
    </core-header-panel>
    <div tool flex>
        <span class="caps title" data-bind="text: title"></span>
        <!-- ko if: router.showFullMenu -->
        <div id="search">
            <paper-icon-button icon="search" data-bind=""></paper-icon-button>
            <input type="search" autocomplete="off" style="display: none">
        </div>
        <!-- /ko -->
    </div>
    <div fit data-bind="router:{}">

    </div>
</core-scaffold>