<core-scaffold mode="waterfall">
    <core-header-panel navigation flex>
        <core-toolbar>
            <core-icon src="auction-logo-small.png"></core-icon>
            <span data-bind="text: appTitle"></span>
        </core-toolbar>
        <core-menu data-bind="foreach: router.navigationModel, attr: {selected: router.selectedTab}">
            <core-item data-bind="attr: { label: title, icon:icon}">
                <a data-bind="attr: { href: hash }"></a>
            </core-item>
        </core-menu>
    </core-header-panel>
    <div tool flex>
        <!-- ko if: router.showFullMenu && (router.selectedTab() == -2) -->
        <paper-icon-button icon="arrow-back" title="Back" style="float: left"
                           data-bind="click: function(){router.navigateBack()}"></paper-icon-button>
        <!-- /ko -->
        <span class="caps title" data-bind="text: title"></span>
        <!-- ko if: router.showFullMenu -->
        <paper-icon-button style="float: right" icon="settings"
                           data-bind="click: function(){router.navigate('settings')}"
                           title="Settings"></paper-icon-button>
        <!-- ko if: router.showFullMenu && (router.selectedTab() == 0 || router.selectedTab() == 1) -->
        <div id="search">
            <paper-icon-button icon="search" title="Search" data-bind="click: toggleSearch"></paper-icon-button>
            <input data-bind="value: router.searchText, valueUpdate: 'afterkeydown'"
                   type="search" autocomplete="off" style="display: none">
        </div>
        <!-- /ko -->
        <paper-icon-button style="float: right" icon="add" data-bind="click: function(){router.navigate('add')}"
                           title="Add Auction"></paper-icon-button>
        <!-- /ko -->
    </div>
    <div fit data-bind="router:{}">

    </div>
</core-scaffold>

<paper-action-dialog heading="Logout" id="logout" backdrop="" autoclosedisabled="" layered="false" role="dialog"
                     layout="" vertical="" tabindex="-1" transition="core-transition-left">
    <p>Logout? Really?!</p>
    <paper-button affirmative="" role="button" tabindex="0" data-bind="click:cancel">Cancel</paper-button>
    <paper-button affirmative="" autofocus="" role="button" tabindex="0" data-bind="click:logout">Logout</paper-button>
</paper-action-dialog>
